/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FUNDO */
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
    background: url("background.png") no-repeat center center fixed;
    background-size: cover;
}

html {
    scroll-behavior: smooth;
}

/* HEADER GLASS */
header {
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);

    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 12px;

    background: rgba(255,255,255,0.08);

    backdrop-filter: blur(25px) saturate(180%);
    -webkit-backdrop-filter: blur(25px) saturate(180%);

    border-radius: 50px;

    border: 1px solid rgba(255,255,255,0.2);

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);

    z-index: 9999;  
}

.logo {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 8px;
}

nav a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 8px 18px;
    border-radius: 30px;
    font-size: 14px;
    transition: all 0.3s ease;
}

nav a.active {
    border: 1px solid rgba(255,255,255,0.6);
    background: rgba(255, 255, 255, 0.2);
}


nav a:hover {
    color: white;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* centraliza horizontal */
    text-align: center;  /* centraliza texto */
    padding: 0 20px;
}

.hero h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 1.1;
    color: rgb(255, 255, 255);
}

.hero h2 {
    margin-top: 20px;
    font-weight: 400;
    opacity: 0.8;
    color: rgb(255, 255, 255);
}

.hero p {
    margin-top: 20px;
    font-weight: 300;
    opacity: 0.7;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

/* BOTÕES GLASS */
.buttons {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.btn-primary,
.btn-secondary {
    padding: 20px 40px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;

    background: rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);

    border: 1px solid rgb(255, 255, 255);

    transition: all 0.3s ease;
}

.btn-primary:hover,
.btn-secondary:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.social-box{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.social-box img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s;
}

.social-box img:hover{
    transform: scale(1.2);
}

/* SOBRE GLASS CARD */
/* SECTION */

.sobre{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:80px 10%;
}

/* GRID PRINCIPAL */

.sobre-container{
    display:grid;
    grid-template-columns: 1.3fr 1fr;
    gap:60px;
    width:100%;
    max-width:1200px;
}

/* QUADRADO DO TEXTO */

.sobre-texto{
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(25px);
    border-radius:20px;
    padding:40px;
    color:white;
    border: 1px solid rgb(255, 255, 255);
}

/* TITULO */

.sobre-texto h2{
    font-size:32px;
    margin-bottom:20px;
}

/* PARAGRAFOS */

.sobre-texto p{
    margin-bottom:15px;
    line-height:1.6;
    opacity:0.9;
}

/* COLUNA DOS BOTÕES */

.sobre-botoes{
    display:grid;
    grid-template-rows: repeat(3,1fr);
    gap: 50px;
}

/* BOTÕES */

.sobre-btn{
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:25px;

    border-radius: 30px;

    text-decoration:none;
    color:white;

    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgb(255, 255, 255);

    transition:0.35s;
}

/* TEXTO PEQUENO */

.sobre-btn span{
    font-size:14px;
    opacity:0.8;
    margin-top:6px;
}

/* HOVER */

.sobre-btn:hover{
    transform:translateY(-5px) scale(1.02);
    background: rgba(255,255,255,0.18);
}

/* ANIMAÇÃO ENTRANDO DA DIREITA */

.sobre-botoes a{
    transform:translateX(200px);
    opacity:0;
    animation: slideButtons 1s forwards;
}

.sobre-botoes a:nth-child(1){
    animation-delay:0.2s;
}

.sobre-botoes a:nth-child(2){
    animation-delay:0.4s;
}

.sobre-botoes a:nth-child(3){
    animation-delay:0.6s;
}

@keyframes slideButtons{
    to{
        transform:translateX(0);
        opacity:1;
    }
}